<div id="posts">
  <% for post in @posts %>
    <h2><a href="<%= post.url %>" title="Permanent link to: '<%= post.title %>'"><%= post.title %></a></h2>

    <div class="dateline">
      <%= post.date %>
    </div>
    
    <div class="categories">Filed under <%= post.categories %></div>
    
    <article>
      <%= post.body %>
    </article>
    <hr class="front">
    </br>
  <% end %>
</div>

<ul id="post_archive">
  <% for post in @archives %>
    <li>
      <a class="nine columns offset-by-four" href="<%= post.url %>"><%= post.title %></a>
      <span class="three columns"><%= post.date %></span>
    </li>
  <% end %>
</ul>