<% if request.post? %>
<% if @post.errors.empty? %>
<div class="alert-message success fade in" data-alert="alert">
  <a class="close" href="#">×</a>
  <p>Post Saved!</p>
</div>
<% else %>
<div class="alert-message error fade in" data-alert="alert">
  <a class="close" href="#">×</a>
  <p><strong>Oops!</strong> It looks like you need to <a href="javascript:$('#email').focus()">try again</a>.</p>
</div>
<% end %>
<% end %>
          
<form action="/posts" method="post" accept-charset="utf-8" style="margin-bottom: 0px;">
  <fieldset id="post" style="margin-bottom: 0px;">
    <legend>Post</legend>
    <div class="clearfix<%= error_for? @post, :title %>">
      <label for="title">Title</label>
      <div class="input">
        <input class="xlarge<%= error_for? @post, :title %>" type="text" name="title" id="title" size="50" value="<%= @post.title %>">
        <% if error_for? @post, :title %>
        <span class="help-inline"><%= @post.errors[:title] %></span>
        <% end %>
      </div>
    </div>
    <div class="clearfix<%= error_for? @post, :published_at %>">
      <label for="published_at">Published At</label>
      <div class="input">
        <input class="large<%= error_for? @post, :published_at %>" type="text" name="published_at" id="published_at" size="20" value="<%= request[:published_at] || @post.published_at %>">
        <% if error_for? @post, :published_at %>
        <span class="help-inline"><%= @post.errors[:published_at] %></span>
        <% end %>
      </div>
    </div>
    <div class="clearfix<%= error_for? @post, :body %>">
      <label for="body">Body</label>
      <div class="input">
        <textarea class="xxlarge<%= error_for? @post, :body %>" id="body" name="body" rows="12"><%= @post.body %></textarea>
        <% if error_for? @post, :body %>
        <span class="help-inline"><%= @post.errors[:body] %></span>
        <% end %>
      </div>
    </div>
    <div class="clearfix">
      <label for="categories">Categories</label>
      <div class="input">
        <input class="large typeahead" type="text" name="categories[]" id="categories" size="20">
      </div>
    </div>
    <div class="actions" style="margin-bottom: 0px;">
      <input type="submit" class="btn primary" value="Save">
    </div>
  </fieldset>
</form>

<script src="/js/bootstrap-typeahead.js"></script>
<script type="text/javascript" charset="utf-8">
  $('.typeahead').typeahead({ "source": <%== Category.titles.to_json %> });
</script>